.teams {
    display: flex;
    flex-direction: column;
    row-gap: 60px;

    @include tablet {
        row-gap: 40px;
    }

    &__button {
        padding: 20px 76px;
        align-self: flex-end;

        @include mobile {
            align-self: center;
            width: 100%;
        }
    }

}