@font-face {
    font-family: "Space Grotesk Headers";
    src: url('../fonts/SpaceGrotesk-Medium.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: "Space Grotesk Basic Text";
    src: url('../fonts/SpaceGrotesk-Regular.woff2') format('woff2');
    font-display: swap;
}